* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.container:not(.container.jumbotron, .maxw) {
    max-width: 1200px;
    margin: 0 auto;
}
.row {
    display: flex;
    flex-wrap: wrap;
}
button {
    color: white;
    background-color: #0061FF;
    padding: 10px;
}
button, a, input {
    cursor: pointer;
}
h1 {
    font-size: 80px;
}
h2 {
    font-size: 40px;
}
h3 {
    font-size: 20px;
}
li, p, h4, .gray {
    font-size: 12px;
}
hr {
    width: 30%;
}
/*body {
    overflow-x: hidden;
}*/
/*header*/
header {
    position: sticky;
    top: 0%;
    z-index: 1;
    background-color: white;
}
.container-header {
    width: 100%;
    margin: 0 auto;
}
.col-50 {
    width: 50%;
    height: 80px;
    align-content: center;
}
.content.header {
    display: flex;
    flex-direction: row;
    height: 60px;
    line-height: 60px;
    align-self: center;
}
.content.header a {
    text-decoration: none;
    color: black;
}
.content.header.right {
    justify-content: flex-end;
}
.menu {
    margin: 0px 30px;
    align-self: center;
}
/*MAIN*/
/*jumbotron*/
.container.jumbotron {
    background-color: #B4D0E7;
    width: 100%;
    margin: 0 auto;
}
.col.jumbotron {
    margin: auto;
}
.col.jumbotron.h1 {
    width: 70%;
    height: 200px;
    margin-top: 90px;
}
.col.jumbotron.text, .col.jumbotron.img {
    height: 350px;
}
.col.jumbotron.text {
    width: 25%;
    margin-left: 15%;
}
.col.jumbotron.img {
    margin-right: 15%;
    width: 45%;
    position: relative;
}
.content.jumbotron.text button {
    margin: 20px 0px;
}
.content.jumbotron.text i {
    margin-top: 100px;
    color: black;
}
.content.jumbotron.img img {
    height: 400px;
    position: absolute;
    top: 0px;
}
/*3 colonne + colonna singola sotto*/
.container.width60 {
    width: 60%;
}
.content.top {
    margin-top: 100px;
}
.content.top input, .content.top a, .content.top h2 {
    margin: 50px 0px;
}
#annuale {
    margin-left: 100px;
}
.col-33 {
    width: 33%;
    height: 660px;
    margin: auto;
    padding: 2%;
}
.content-33 {
    border: 2px solid gray;
}
.text-top {
    text-align: center;
    line-height: 40px;
    height: 40px;
    width: 100%;
    border-bottom: 2px solid gray;
}
.up {
    width: 100%;
    height: 210px;
}
.down hr {
    color: gray;
    font-size: 1px;
    margin: 20px 10px;
}
.up button, .up p, .up hr {
    margin: 10px;
}
#contattaci {
    margin-left: auto;
    margin-right: auto;
    padding: 10px 50px;
}
.gray {
    color: gray;
}
.down {
    width: 100%;
    height: 360px;
}
.punti {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 10px;
}
.punti li {
    margin: 3px;
}
.col-bottom {
    width: 100%;
}
.content-bot {
    width: 96%;
    height: 250px;
    margin: 2%;
    border: 2px solid gray;
}
.general {
    display: flex;
    flex-direction: row;
    padding: 20px;
}
.gbig {
    width: 490px;
    height: 160px;
    padding-right: 20px;
}
.gbig h4 {
    margin: 20px 0;
}
.gbig p {
    margin-top: 40px;
}
/*due colonne */
.container.unbox {
    width: 100%;
    margin: 0 auto;
}
.col-40.unbox button {
    position: absolute;
    right: 0%;
    color: black;
    background-color: #FFFFFF;
}
.teal {
    background-color: #B4D0E7;
}
.boxandimg {
    height: 400px;
    padding: 20px;
}
.col-60, .col-40 {
    margin: 100px auto;
}
.col-60 {
    width: 60%;
}
.col-40 {
    width: 40%;
    position: relative;
}
.col-40.boxandimg p, .col-40.boxandimg button {
    margin: 20px 0px;
}
.col-60 img {
    width: 100%;
}
/*layout a 6 card*/
.col33 {
    width: calc(33% - 10px);
    height: 400px;
    margin: 5px;
    padding: 10px;
}
.col33 h4, .col33 p {
    margin: 20px 5px;
}
.contimg img {
    width: 100%;
}
#scopri {
    padding: 40px 0px;
}
/*quadrati*/
.container.maxw {
    width: 100%;
    margin: 0 auto;
}
.square33 {
    width: calc(100% / 3);
    height: calc(100vw / 3);
    background-color: #F5F5F5;
    display: flex;
    flex-wrap: wrap;
    margin-top: 100px;
}
.square33.center {
    flex-direction: column;
}
.square-sm {
    width: calc(100% / 2);
    height: calc(100vw / 6);
    position: relative;
}
.square-sm img {
    width: 150px;
    filter: invert(100%);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#a {
    background-color: #A2D39B;
    border: 15px solid #D1E9CD;
}
#b {
    background-color: #61082B;
}
#c {
    background-color: #0093CE;
}
#d {
    background-color: #FF1C1C;
}
#e {
    background-color: #D5001F;
}
#f {
    background-color: #B4D0E7;
}
#g {
    background-color: #0D2481;
}
#h {
    background-color: #FFD830;
}
#logoblack {
    width: 200px;
}
.square33.center img, .square33.center hr, .square33.center p {
    margin: 20px;
}
/*titolo e testo*/
.col-60.unbox h3 {
    color: #61082B;
}
/*FAQ*/
.col.FAQ {
    width: 100%;
    margin: 100px auto;
}
.content.FAQ {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
    height: 30px;
    line-height: 30px;
}
.col.FAQ hr {
    width: 100%;
    margin: 20px 0px;
}
.content.FAQ ul, .content.FAQ hr {
    margin-top: 10px;
    margin-bottom: 10px;
}
/*FOOTER*/
footer {
    background-color: black;
    color: white;
    padding: 30px 0px;
}
.footer .row {
    justify-content: center;
}
.col-bottom-footer {
    width: 75%;
}
.col-footer {
    width: calc(75% / 5);
    height: 200px;
    padding: 20px;
}
.content-footer li {
    list-style-type: none;
    font-size: 10px;
    margin: 10px 0;
}
.cont-bottom-footer hr {
    width: 15%;
    margin: 30px 0;
}