* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
}
.row {
    display: flex;
    flex-wrap: wrap;
}
/*header*/
.container-header {
    width: 100%;
    margin: 0 auto;
    background-color: yellow;
}
.col-50 {
    width: 50%;
    background-color: orange;
}
.content.header {
    height: 80px;
    display: flex;
    flex-direction: row;
}
.content.header.right {
    justify-content: flex-end;
}
.menu {
    background-color: red;
    width: 30px;
    margin: 0px 30px;
    line-height: 80px;
}
/*main*/
/*jumbotron*/
.col.jumbotron {
    background-color: red;
    border: 1px solid black;
    margin: auto;
}
.col.jumbotron.h1 {
    width: 80%;
    height: 150px;
    margin-top: 90px;
}
.col.jumbotron.text, .col.jumbotron.img {
    height: 300px;
    width: 40%;
}
.col.jumbotron.text {
    margin-left: 10%;
}
.col.jumbotron.img {
    margin-right: 10%;
    position: relative;
}
.content.jumbotron.text button {
    margin: 20px 0px;
}
.content.jumbotron.text i {
    margin-top: 20px;
}
.content.jumbotron.img img {
    height: 300px;
    position: absolute;
    top: 40px;
}


