* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container:not(.container.jumbotron) {
    max-width: 1200px;
    margin: 0 auto;
}
.row {
    display: flex;
    flex-wrap: wrap;
}
button {
    color: white;
    background-color: #0061FF;
    padding: 10px;
}
/*header*/
.container-header {
    width: 100%;
    margin: 0 auto;
    background-color: yellow;
}
.col-50 {
    width: 50%;
    background-color: orange;
}
.content.header {
    height: 80px;
    display: flex;
    flex-direction: row;
}
.content.header.right {
    justify-content: flex-end;
}
.menu {
    background-color: red;
    width: 30px;
    margin: 0px 30px;
    line-height: 80px;
}
/*main*/
/*jumbotron*/
.container.jumbotron {
    background-color: #B4D0E7;
    width: 100%;
    margin: 0 auto;
}
.col.jumbotron {
    background-color: red;
    border: 1px solid black;
    margin: auto;
}
.col.jumbotron.h1 {
    width: 70%;
    height: 150px;
    margin-top: 90px;
}
.col.jumbotron.text, .col.jumbotron.img {
    height: 350px;
}
.col.jumbotron.text {
    width: 25%;
    margin-left: 15%;
}
.col.jumbotron.img {
    margin-right: 15%;
    width: 45%;
    position: relative;
}
.content.jumbotron.text button {
    margin: 20px 0px;
}
.content.jumbotron.text i {
    margin-top: 20px;
}
.content.jumbotron.img img {
    height: 400px;
    position: absolute;
    top: 0px;
}
/*3 colonne + colonna singola sotto*/
.container.width60 {
    width: 60%;
}
.col-33 {
    width: 33%;
    height: 700px;
    background-color: yellow;
    margin: auto;
    padding: 2%;
}
.content-33 {
    border: 2px solid gray;
}
.text-top {
    text-align: center;
    line-height: 40px;
    height: 40px;
    width: 100%;
    border-bottom: 2px solid gray;
    background-color: aquamarine;
}
.up {
    width: 100%;
    height: 350px;
    background-color: rgb(89, 224, 157);
}
.down {
    width: 100%;
    height: 270px;
    background-color: blue;
}
.punti {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}
.col-bottom {
    width: 100%;
}
.content-bot {
    width: 96%;
    height: 250px;
    margin: 2%;
    border: 2px solid gray;
}
.general {
    display: flex;
    flex-direction: row;
    background-color: pink;
    padding: 20px;
}
.gbig {
    width: 600px;
    height: 160px;
    padding-right: 20px;
    background-color: violet;
}
.gbig h5, h4 {
    margin-bottom: 20px;
}
.gbig p {
    margin-top: 70px;
}